In [6]:
#python string 
name  = "pushpa"
print(f"hello {name}")

#type checking
type(name)

number = 1
type(number)

str1 = 'No of items'
num1 = 2
str1 + "" + str(num1)

item = f"no of items {str1} ,  {num1}"
print(item)


no_of_item = "Number are ".format(str(number))
print(no_of_item)

hello pushpa
no of items No of items ,  2
Number are

In [7]:
#working with number and string
age =303
name = "ram"
address = "Kathmandu Nepal"
str1 = f"Hello your age is {age} and your address is {address}"

formated = "Hello {0} your age is {2} and your address is {1} ".format(name,str(age),address)
print(formated)
print(str1)

Hello ram your age is Kathmandu Nepal and your address is 303
Hello your age is 303 and your address is Kathmandu Nepal

In [8]:
#iterate number using for loop
numbers = [1,2,3,4,5,5]

for number in numbers:
    print(number)

1
2
3
4
5
5

In [9]:
#break line in python 
long_str = """
This is long 
long 
long
long
long
string

"""

print(long_str)

This is long
long
long
long
long
string

In [10]:
#working with number
num1 =10
num2 = 30
print(num1+num2)

40

In [11]:
#This is comment
print("# is for comment")

# is for comment

In [12]:
#variable
x =10
x = 1.4
x = "hello"

print(x)

hello

In [13]:
#divide number in python
num1 = 33
num2 = 4

print(f"Result { num1 // num2}")

Result 8

In [14]:
#data structure in python
#lists
#lists 
#tuples
#set
#dictionery

#list (mutable)
numbers = [1,3,4,5,5,6]
numbers.append(343)

print(numbers)

#tuples (tuples are immutable)
tupl = (1,2,3,4,5,5,6,6, 'ram')
print(tupl)
print(tupl.count)
# tupl[0] =10;
#print(tupl) #throw error object does not support assignment

#dictionery
person = {"name":"pushpa","address":"Kathmandu"}

print(person['name'])

#sets(duplicate is not allowed)
set1 = [1,2,3,4,4,5,5]
set2 = set(set1)
print(f"It remove the duplicate data {set2}")

student = {'name':'ram','address':'kathmandu'}
print(student)


dict1 = {}
dict1['fruits'] = 'apple'
dict1 ['vegatable'] = 'carrot'
print(dict1)

[1, 3, 4, 5, 5, 6, 343]
(1, 2, 3, 4, 5, 5, 6, 6, 'ram')
<built-in method count of tuple object at 0x000001629CC60970>
pushpa
It remove the duplicate data {1, 2, 3, 4, 5}
{'name': 'ram', 'address': 'kathmandu'}
{'fruits': 'apple', 'vegatable': 'carrot'}

In [15]:
#conditional statement
if 5==5:
    print(True)

age = 18
fee = 2000
isEligible = age >= 18 and fee == 2000

if isEligible:
    print(isEligible)

num = 10
if num >1:
    print("Number is greater than 1")

elif num < 2:
    print("number is less then")
else:
    print("not greater")

print("all code are executed")

True
True
Number is greater than 1
all code are executed

In [16]:
#for loop
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [17]:
#iterate list
nums = [1,2,3,4,5,6,7,78]

for num in nums:
    print(num)

1
2
3
4
5
6
7
78

In [18]:
#decrement loop 
for x in range(10,5,-1):
    print(x)

10
9
8
7
6

In [19]:
#exception handling

# div1 = 1/0
# print(div1)
#Throw ZeroDivisionError

try:
    div = 1/0
except ZeroDivisionError:
    print('error')

# arr1 = [1,2]
# print(arr1[2])
#throw IndexError

#handle index error
try:
    arr1 = [1,2]
    print(arr1[2])
except:
    print("index out of bound")

error
index out of bound

In [20]:
#multiple exception handle

try:
    div1 = 5/0
    arr1 = [1,2]
    print(arr1[12])
except ZeroDivisionError as e:
    print(f"Divide by zero exception {e}")
except IndexError:
    print("index out of bound")
finally:
    print("at last")

Divide by zero exception division by zero
at last

In [24]:
#functio

def add(a,b):
    return a+b;

print(add(4,5))

def add(a,b,c):
    return a+b+c

print(add(1,2,3))

9
6
(1, 2, 3, 4, 5)
1
()
1
(2, 3)

In [27]:
#args
def sum(*args):
    print(args)
sum(1,2,3,4,5)

def add(a,*args):
    print(a)
    print(args)
add(1)
add(1,2,3)

(1, 2, 3, 4, 5)
1
()
1
(2, 3)

In [28]:
#kwargs parameter
def add(num1,*args, **kwargs):
    print(num1)
    print(args)
    print(kwargs)
add(1,2,another=10)
add(1,2,3)

1
(2,)
{'another': 10}
1
(2, 3)
{}

In [40]:
#function passing default value 

def add(num1, num2=3):
    print(num1+num2)
add(32)
add(1,32)

35
33

In [77]:
#factroial

def fact(num):
    if num == 0 or num==1:
        return 1
    return num * fact(num-1)
    
print(fact(5))

30414093201713378043612608166064768844377641568960512000000000000